/oss_data/tencent_zh_d200_100k.bytes
/oss_data/tencent_zh_d200_100k.tsv
/oss_data/tencent_zh_d200_2m.bytes
/oss_data/tencent_zh_d200_2m.tsv
/oss_data/tencent_zh_d200_500k.bytes
/oss_data/tencent_zh_d200_500k.tsv
